.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

body{
    width: 90%;
    padding: 10px;
    border:  white;
    margin: 50px 50px 50px;
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover
}
em {
    font-style: italic;
    color: darkolivegreen;
}
i {
    font-style: italic;
    color: darkslategrey;
}
img {
    float: left|right;
}
table, th, td {
    border: 1px solid black;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}{